body {
    background-color: #dcf4ff;
}

.container {
    width:582px;
    font-size: 12px;
    background-color: #ffffff;
}

.article {
    margin: 0px 20px 20px 20px;
}

.newsletter-date {
    margin-right: 20px;
    font-weight: bold;
    font-size: 11px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    color: #365F91;
}

h1 {
    font-size: 16px;
    margin-top: 0;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 12px;
}

p {
    text-align: justify;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}
